# Обновление системы и установка зависимостей
sudo pacman -S --needed base-devel git libxml2 bison flex cmake python-pip libusb avahi libaio

# Установка CDK (возможно потребуется AUR-хелпер)
yay -S cdk  # или используйте другой AUR-хелпер

# Установка libiio
cd ~
git clone --branch v0.23 https://github.com/analogdevicesinc/libiio.git
cd libiio
mkdir build
cd build
cmake -DPYTHON_BINDINGS=ON ..
make -j$(nproc)
sudo make install
sudo ldconfig

# Установка libad9361-iio
cd ~
git clone https://github.com/analogdevicesinc/libad9361-iio.git
cd libad9361-iio
mkdir build
cd build
cmake ..
make -j$(nproc)
sudo make install

# Установка pyadi-iio
cd ~
git clone --branch v0.0.14 https://github.com/analogdevicesinc/pyadi-iio.git
cd pyadi-iio
python -m pip install --upgrade pip
python -m pip install -r requirements.txt
sudo python setup.py install